@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    background: url('fondoo.jpg') no-repeat center center fixed;
    background-color: #000000;
    background-size: cover;
    color: #333;
    min-height: 100vh;
    padding: 0 20px;
}

.custom-line {
    border: none;
    height: 2px;
    background-color: #000;
    margin: 50px 0;
    z-index: 1;
}

.titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 20px 0;
    padding-left: 0;
    background-color: #4166cc;
    border-radius: 8px;
    padding: 20px;
}

.titulo-contenedor {
    text-align: center;
    width: 65%;
}

.titulo-contenedor h1 {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.titulo-contenedor h3 {
    font-size: 1.5em;
    color: #f0f0f0;
}

.imagen {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-image {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
    border: 5px solid #070e6f;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.productosYServicios p {
    color: black;
}


.productosYServicios {
    width: 100%;
    max-width: 600px;
    padding: 50px;
    border: 2px solid #071c57;
    border-radius: 8px;
    background-color: rgba(184, 184, 184, 0.9);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    color: #0a58ca; /* Color actualizado */
}

.derecha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 320px;
}
.horariosDeAtencion h2{
    color: black;
}

.horariosDeAtencion, .numerosDeTelefono {
    padding: 15px;
    border: 2px solid #071c57;
    border-radius: 8px;
    background-color: rgba(184, 184, 184, 0.9);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    text-align: center;
    color: #0a58ca; /* Color actualizado */
}

.numerosDeTelefono a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.numerosDeTelefono a:hover {
    color: #00ddff;
}

.productosYServicios h3 {
    cursor: pointer;
    background-color: #989898;
    border-radius: 5px;
    padding: 10px;
    color: #000000;
    margin: px 0;
    font-weight: 600;
}

h3.active + p {
    display: block;
}

.productosYServicios p {
    display: none;
}

.productosYServicios h3.active + p {
    display: block;
    width: max-content;
    text-align: justify;
}

@media screen and (max-width: 1024px) {
    .titulo-contenedor {
        flex-direction: column;
        align-items: center;
    }

    .titulo img {
        width: 100px;
        margin-left: 0;
        margin-top: 10px;
    }

    .titulo h1 {
        font-size: 1.8em;
    }

    .titulo h3 {
        font-size: 1em;
    }

    .contenedor {
        flex-direction: column;
        align-items: center;
    }

    .productosYServicios, .derecha {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .titulo img {
        width: 90px;
    }

    .productosYServicios h3 {
        font-size: 1em;
    }

    .productosYServicios, .derecha {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px) {
    .titulo h1 {
        font-size: 1.5em;
    }

    .titulo img {
        width: 75px;
    }

    .productosYServicios, .derecha {
        margin-bottom: 10px;
    }

    .productosYServicios h3 {
        font-size: 0.9em;
    }
}

.creditos {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 0.9em;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}


footer {
    margin-top: auto;
}
